* {
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #FFC80A;
}

p {
  letter-spacing: 0;
  font-size: 14px;
  font-family: Arvo;
  line-height: 26px;
}

input,
label,
select,
button,
textarea {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  vertical-align: middle;
  white-space: normal;
  font-size: 13px;
  font-family: Arial;
  line-height: 1;
}

.btn {
  padding: 12px 32px;
  border: 2px solid #000;
  border-radius: 50px;
  color: #212121;
  letter-spacing: 2.4px;
  font-size: 12px;
  font-family: Montserrat-Bold;
  cursor: pointer;
}

h2 {
  letter-spacing: 0;
  font-size: 24px;
  font-family: 'Arvo', serif;
  line-height: 32px;
}

h3 {
  letter-spacing: 2.4px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.main-container {
  position: relative;
  margin: 0 auto;
  padding: 0 16px;
  width: 1200px;
}

header {
  overflow: hidden;
  height: 720px;
  transition: background 0.3s;
}

.header-bg-1 {
  background: #2C2C2C;
}

.header-bg-2 {
  background: #9076C1;
}

.header-bg-3 {
  background: #FC544E;
}

.main-header {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 24px 0;

  justify-content: space-between;
  align-items: center;
}

.main-header button {
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.main-header button:hover {
  cursor: pointer;
}

.menu {
  background-image: url(../img/menu-icon.svg);
  transition: background 0.2s;
}

.menu:hover {
  background-image: url(../img/menu-icon-hover.svg);
}



.logo {
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: bold;
  font-size: 29px;
  font-family: 'Montserrat', sans-serif;
}

.logo span {
  color: #FFC80A;
  font-weight: bold;
  font-style: italic;
  font-family: 'Playfair Display', serif;
}

.search {
  position: relative;
  display: flex;

  align-items: center;
}

/*
.search:hover {
    background: #FFC80A;
}
*/

.search-input {
  position: absolute;
  right: 33px;
  overflow: hidden;
  width: 0px;
  height: 32px;
  background: rgba(255, 255, 255, 0.1);
  color: #FFC80A;
  transition: width 0.5s;
}


.search-input-open {
  padding-left: 8px;
  width: 160px;
}

.search input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}


.search button {
  width: 32px;
  height: 32px;
}

.search-button {
  background-image: url(../img/search-icon.svg);
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat;
  transition: background 0.2s;
}

.search-button:hover {
  background-image: url(../img/search-icon-hover.svg);
}

.search-button-active {
  background-color: #FFC80A;
  background-image: url(../img/search-icon-hover.svg);
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat;
  transition: background 0.2s;
}

.main-content {
  display: flex;
  margin-top: 124px;
  text-align: center;

  align-items: center;
  justify-content: space-between;
}

.login {
  display: inline-block;
  overflow: hidden;
  width: 16px;
  text-align: center;
  line-height: 16px;
}

.login-icon {
  margin: 0 auto;
  padding-bottom: 16px;
  width: 13px;
  height: 15px;
  background-image: url(../img/login-icon.svg);
  background-repeat: no-repeat;
  transition: background 0.2s;
}

.login:hover {
  cursor: pointer;
}

.login:hover .login-icon {
  background-image: url(../img/login-icon-hover.svg);
}

.login:hover b {
  color: #FFF;
}

.login b {
  display: inline-block;
  color: rgba(255, 255, 255, 0.2);
  white-space: nowrap;
  letter-spacing: 2.4px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  -webkit-transform: translate(0, 100%) rotate(-90deg);
  -moz-transform: translate(0, 100%) rotate(-90deg);
  -ms-transform: translate(0, 100%) rotate(-90deg);
  -o-transform: translate(0, 100%) rotate(-90deg);
  transform: translate(0, 100%) rotate(-90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}

.login b:before {
  float: left;
  margin-top: 100%;
  content: "";
}

.main-title {
  width: 856px;
}

.main-title h1 {
  margin-top: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-size: 100px;
  font-family: 'Arvo', serif;
  line-height: 112px;
}

.main-title h3 {
  color: #FFFFFF;
}

.slider-header ul {
  list-style-type: none;
}

.slider-header li {
  margin-top: 10px;
}

.slider-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: background 0.2s;
}

.slider-circle:hover {
  width: 12px;
  height: 12px;
  background: #FFF;
}


.slider-circle-active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #FFC80A;
  cursor: pointer;
}

.slider-img {
  position: relative;
  margin: 0 auto;
  height: 566px;
}

.gamepad-show {
  position: absolute;
  bottom: 88px;
  left: 256px;
  width: 702px;
  height: 566px;
  background-image: url(../img/Gamepad.png);
  transition: bottom 0.5s;
}

.gamepad-none {
  bottom: -256px;
}

.grammophone-none {
  position: absolute;
  bottom: -256px;
  left: 126px;
  width: 702px;
  height: 566px;
  background-image: url(../img/Grammophone.png);
  transition: bottom 0.5s;
}

.grammophone-show {
  bottom: 76px;
}

.drummer-none {
  position: absolute;
  bottom: -256px;
  left: 0;
  width: 1000px;
  height: 566px;
  background-image: url(../img/Drummer.png);
  transition: bottom 0.5s;
}

.drummer-show {
  bottom: 59px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}

.modal-overlay-show {
  display: block;
}

.modal-content {
  position: fixed;
  top: 128px;
  left: 50%;
  z-index: 3;
  display: none;
  margin-left: -330px;
  width: 660px;
  height: 495px;
  background-image: url(../img/login-bg.png);
  background-position: center;
  box-shadow: 0 30px 50px rbga(0, 0, 0, 0.7);
  text-align: center;
}

.modal-content-show {
  display: block;
}

.modal-content h2 {
  margin: 0 auto;
  margin-top: 56px;
  color: #212121;
}

.modal-content-close {
  position: absolute;
  top: 0;
  right: -32px;
  width: 22px;
  height: 22px;
  outline: 0;
  border: 0;
  font-size: 0;
  cursor: pointer;
}

.modal-content-close::after,
.modal-content-close::before {
  position: absolute;
  top: 10px;
  left: 2px;
  width: 18px;
  height: 3px;
  border-radius: 1px;
  background: #4B4B4B;
  content: "";
}

.modal-content-close::after {
  transform: rotate(45deg);
}

.modal-content-close::before {
  transform: rotate(-45deg);
}

.modal-content-close:hover:after,
.modal-content-close:hover:before {
  background-color: #FFC80A;
  cursor: pointer;
}

.sign-in {
  float: left;
  width: 420px;
  height: 495px;
  background: #FFFFFF;
}

.sign-in form {
  display: flex;
  margin-top: 56px;

  flex-flow: column;
  align-items: center;
}

.modal-content input[type="email"],
.modal-content input[type="password"],
.login-form button {
  padding: 12px 16px;
  width: 208px;
  border: 1px solid #9FA3A7;
  border-radius: 25px;
  background: #FFFFFF;
  color: #0EBAC5;
}

.modal-content input[type="email"]:focus,
.modal-content input[type="password"]:focus {
  border: 1px solid #0EBAC5;
}

.sign-in input:nth-child(2) {
  margin-top: 24px;
}

.sign-in button {
  margin-top: 32px;
  width: 240px;
  height: 48px;
  border: none;
  border-radius: 25px;
  background-color: #FFC80A;
  color: #212121;
  letter-spacing: 2.4px;
  font-weight: bold;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.forgot {
  margin-top: 8px;
  width: 204px;
  text-align: right;
}

.forgot a {
  color: #212121;
  text-decoration: none;
  letter-spacing: 0;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  line-height: 18px;
}

.forgot a:hover {
  color: #FFC80A;
}

.sign-in button:hover {
  color: #FFFFFF;
  cursor: pointer;
}

.login-checkbox {
  position: relative;
  margin-top: 24px;
  padding: 0 16px;
  width: 204px;
  color: #212121;
  text-align: right;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.login-checkbox:hover {
  color: #FFC80A;
}

.login-checkbox input[type="checkbox"] {
  display: none;
}

.login-checkbox input[type="checkbox"] + .ceckbox-indicator {
  position: absolute;
  top: -5px;
  right: 110px;
  width: 16px;
  height: 16px;
  border: 2px solid #9FA3A7;
  border-radius: 6px;
}

.login-checkbox input[type="checkbox"]:checked + .ceckbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .ceckbox-indicator::after {
  position: absolute;
  top: 7px;
  left: 1px;
  width: 14px;
  height: 2px;
  background-color: #0EBAC5;
  content: "";
}

.login-checkbox input[type="checkbox"]:checked + .ceckbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .ceckbox-indicator::after {
  transform: rotate(-45deg);
}

.sign-up {
  float: right;
  width: 240px;
}

.sign-up h2 {
  color: #FFC80A;
}

.sign-up p {
  margin: 16px auto;
  width: 156px;
  color: #FFFFFF;
}

.sign-up button {
  margin-top: 169px;
  width: 128px;
  height: 48px;
  border: none;
  border-radius: 25px;
  background: #FFFFFF;
  color: #212121;
  letter-spacing: 2.4px;
  font-weight: bold;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.sign-up button:hover {
  color: #FFC80A;
  cursor: pointer;
}

.login b:before {
  float: left;
  margin-top: 100%;
  content: "";
}

.close-modal {
  height: 495px;
  color: #FFF;
}

.close-modal button {
  display: inline-block;
  margin-left: 16px;
  color: rgba(255, 255, 255, 0.2);
  white-space: nowrap;
  letter-spacing: 2.4px;
  font-weight: bold;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  -webkit-transform: translate(0, 100%) rotate(-90deg);
  -moz-transform: translate(0, 100%) rotate(-90deg);
  -ms-transform: translate(0, 100%) rotate(-90deg);
  -o-transform: translate(0, 100%) rotate(-90deg);
  transform: translate(0, 100%) rotate(-90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}

.close-modal button::before {
  float: left;
  margin-top: 100%;
  content: "";
}

.close-modal button:hover {
  color: #FFF;
}

.portfolio {
  width: 100%;
  background: #F7F8F9;
}

.potfolio-content {
  display: flex;
  padding: 144px 0;

  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.portfolio-item {
  position: relative;
  display: flex;
  width: 851px;

  align-items: center;
}

.portfolio-item h3 {
  color: #9FA3A7;
}

.portfolio-item h2 {
  margin: 16px 0;
  color: #212121;
  letter-spacing: 0;
  font-size: 22px;
  font-family: Arvo;
  line-height: 32px;
}

.portfolio-item a {
  text-decoration: none;
}

.portfolio-item:nth-child(1) {
  margin-bottom: 80px;
}

.portfolio-item:nth-child(2) {
  text-align: right;
}

.item-img-1 {
  z-index: 1;
  width: 400px;
  height: 480px;
  border-radius: 16px;
  background-image: url(../img/1-work-img.png);
  box-shadow: 0 16px 64px -8px rgba(0, 0, 0, 0.3);
}

.item-img-2 {
  z-index: 1;
  width: 400px;
  height: 480px;
  border-radius: 16px;
  background-image: url(../img/2-work-img.png);
  box-shadow: 0 16px 64px -8px rgba(0, 0, 0, 0.3);
}

.item-info {
  z-index: 1;
  padding-top: 24px;
  width: 400px;
}

.item-info:nth-child(2) {
  padding-left: 72px;
}

.item-info:nth-child(1) {
  padding-right: 72px;
}

.item-info img {
  margin-top: 24px;
}

.portfolio-number-one {
  position: absolute;
  bottom: 0;
  left: 250px;
  color: #EEEEEE;
  letter-spacing: 0;
  font-size: 427px;
  font-family: Montserrat-Bold;
}

.portfolio-number-two {
  position: absolute;
  bottom: 0;
  left: 0px;
  color: #EEEEEE;
  letter-spacing: 0;
  font-size: 427px;
  font-family: Montserrat-Bold;
}

.catalog-list {
  display: grid;
  min-width: 100vh;
  height: 900px;
  background: #212121;

  grid-template-columns: repeat(4, 25%);
  grid-auto-rows: 300px;
}

.catalog-item:nth-child(1) {
  background-color: #DCE5E8;

  grid-column: 1/3;
  grid-row: 1/3;
}

.catalog-item:nth-child(2) {
  background-color: rgb(255, 105, 65);

  grid-column: 3/5;
}

.catalog-item:nth-child(3) {
  background-color: #F5F5F5;

  grid-column: 3/5;
  grid-row: 2/3;
}

.catalog-item:nth-child(4) {
  background-color: #FFF;
  text-align: right;

  grid-column: 1/3;
  grid-row: 3/4;
}

.catalog-item:nth-child(5) {
  background-color: #FFFFFF;

  grid-column: 3/5;
  grid-row: 3/4;
}

.catalog-item h2 {
  font-weight: 100;
  font-size: 36px;
}

.item-point {
  float: right;
  padding-top: 104px;
  width: 600px;
  height: 600px;
  background-image: url(../img/item-1.png);
}

.item-point p {
  width: 208px;
  color: #707274;
  line-height: 26px;
}

.item-point h2 {
  margin: 32px 0;
}

.item-point h3 {
  color: #9FA3A7;
  letter-spacing: 2.4px;
}

.item-point button {
  margin-top: 128px;
  border: 2px solid #9FA3A7;
}

.item-speaker {
  float: left;
  width: 600px;
  height: 300px;
  background-image: url(../img/item-2.jpg);
  text-align: center;
}

.item-speaker h2 {
  margin-top: 120px;
  color: #FFFFFF;
}

.item-speaker button {
  margin-top: 24px;
  border: 2px solid rgba(255, 255, 255, 0.35);
  border-radius: 18.5px;
  color: #FFFFFF;
}

.item-bucket {
  position: relative;
  float: left;
  width: 300px;
  height: 300px;
  background-color: #FDDD37;
  background-image: url(../img/item-3.png);
  background-position: left;
  background-repeat: no-repeat;
}

.item-bucket b {
  color: #FFFFFF;
}

.polygon {
  float: right;
  width: 16px;
  height: 100%;
  background-image: url(../img/polygon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.item-watch {
  float: left;
  padding-top: 80px;
  width: 300px;
  height: 300px;
  background-color: #F5F5F5;
  text-align: center;
}

.item-watch button {
  margin-top: 24px;
  border: 2px solid #FFC80A;
}

.item-shorts {
  position: relative;
  float: right;
  width: 300px;
  height: 300px;
  background-image: url(../img/item-6.png);
  background-position: left;
  background-repeat: no-repeat;
}

.item-hat {
  position: relative;
  float: right;
  width: 300px;
  height: 300px;
  background-image: url(../img/item-5.png);
  background-position: left;
  background-repeat: no-repeat;
}

.item-majesty {
  position: relative;
  float: left;
  width: 600px;
  height: 300px;
  background-image: url(../img/item-7.png);
  background-position: center;
  background-repeat: no-repeat;
}

.mark {
  position: absolute;
  top: 24px;
  left: 24px;
  padding: 0 4px;
  height: 16px;
  border-radius: 3px;
  color: #FDFDFD;
  text-align: center;
  letter-spacing: 2.5px;
  font-size: 8px;
  font-family: Montserrat-Bold;
  line-height: 16px;
}

.mark-price {
  background: #FD674A;
}

.catalog-info {
  position: absolute;
  bottom: 24px;
  left: 24px;
  float: left;
  text-align: left;
}

.catalog-info h2 {
  margin-bottom: 8px;
  font-weight: 100;
  font-size: 22px;
}

.catalog-info h3 {
  color: #9FA3A7;
  letter-spacing: 2px;
  font-size: 10px;
  font-family: Montserrat-Bold;
}

.catalog-price {
  position: absolute;
  right: 32px;
  bottom: 24px;
  color: #212121;
  letter-spacing: 0;
  font-size: 16px;
  font-family: Montserrat-Bold;
}

.features {
  height: 720px;
  background-color: #F65A41;
  color: #FFFFFF;
}

.features p {
  padding-top: 8px;
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  font-family: Roboto;
  line-height: 22px;
}

.features-grid {
  display: grid;

  grid-template-columns: 600px 600px;
  grid-template-rows: auto;
}

.features-title {
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 15px;
  font-size: 120px;
  font-family: Montserrat-Bold;
  line-height: 106px;
  opacity: 0.23;
}

.features-item {
  position: relative;
}

.features-name {
  display: inline-block;
  float: left;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FFC80A;
  color: #212121;
  text-align: center;
  letter-spacing: 2.4px;
  font-weight: bold;
  font-style: normal;
  font-size: 10px;
  font-family: Montserrat;
  line-height: 16px;
}

.features-item:nth-child(1) {
  height: 304px;

  grid-column: 1/2;
  grid-row: 1/2;
}

.features-item:nth-child(2) {
  height: 304px;

  grid-column: 2/3;
  grid-row: 1/2;
}

.features-item:nth-child(3) {
  height: 112px;

  grid-column: 1/3;
  grid-row: 2/3;
}

.features-item:nth-child(4) {
  height: 304px;

  grid-column: 1/2;
  grid-row: 3/5;
}

.features-item:nth-child(5) {
  height: 304px;

  grid-column: 2/3;
  grid-row: 3/5;
}

.features-img_1 {
  float: left;
  padding-right: 24px;
  width: 301px;
  height: 197px;
  background-image: url(../img/features-cloud.png);
  background-position: left;
  background-repeat: no-repeat;
}

.featurem-item-content-1 {
  position: absolute;
  top: 64px;
  left: 48px;
}

.features-img_2 {
  float: left;
  padding-right: 24px;
  width: 231px;
  height: 232px;
  background-image: url(../img/features-note.png);
  background-position: left;
  background-repeat: no-repeat;
}

.featurem-item-content_2 {
  position: absolute;
  top: 136px;
  left: 0;
  z-index: 1;
}

.features-img_3 {
  float: left;
  padding-right: 24px;
  width: 231px;
  height: 232px;
  background-image: url(../img/features-axe.png);
  background-position: left;
  background-repeat: no-repeat;
}

.featurem-item-content_3 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 450px;
}

.features-img_4 {
  float: left;
  padding-right: 24px;
  width: 288px;
  height: 298px;
  background-image: url(../img/features-rocet.png);
  background-position: left;
  background-repeat: no-repeat;
}

.featurem-item-content_4 {
  position: absolute;
  top: -24px;
  left: -174px;
  z-index: 1;
  width: 550px;
}

.pricing {
  height: 880px;
  background-color: #FFFFFF;
  text-align: center;
}

.pricing h2 {
  margin-top: 72px;
  font-size: 50px;
  line-height: 48px;
}

.pricing p {
  display: inline-block;
  margin-top: 31px;
  width: 310px;
}

.pricing-item {
  display: flex;
  margin-top: 72px;
}

.pricing-item-block {
  position: relative;
  display: flex;
  margin-right: 16px;
  padding-top: 64px;
  width: 310px;
  height: 420px;
  border-radius: 8px;
  transition: background 0.5s;

  align-items: center;
  flex-flow: column;
}

.pricing-item-block:hover {
  background-color: rgba(84, 168, 230, 0.05);
}

.pricing-item-block:nth-child(2) {
  background-color: rgba(84, 168, 230, 1);
  background-image: url(../img/price-item-1.png);
  background-position: top -170px left -115px;
  background-repeat: no-repeat;
  box-shadow: 0 16px 128px -8px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
}

.pricing-item-block:nth-child(2) .btn {
  padding: 14px 24px;
  border: none;
  background-color: #FFFFFF;
  color: rgba(84, 168, 230, 1);
}

.pricing-item-block:nth-child(2) p {
  color: rgb(222, 240, 255);
}

.pricing-item-block:nth-child(2) span {
  color: #FFFFFF;
}

.pricing-item-block h3 {
  padding-bottom: 8px;
}

.pricing-item-block p {
  margin-top: 24px;
  width: 154px;
  color: #9FA3A7;
}

.pricing-item-block .dollor {
  color: #212121;
  letter-spacing: 0;
  font-size: 30px;
  font-family: Arvo;
  line-height: 48px;
}

.pricing-item-block .price {
  color: #212121;
  letter-spacing: 0;
  font-size: 64px;
  font-family: Arvo-Bold;
}

.pricing-item-block .btn {
  position: absolute;
  bottom: 48px;
  border: 2px solid #D8D8D8;
  color: #525252;
}

.price sup {
  position: relative;
  top: -3px;
  left: 10px;
  font-size: 32px;
}

.price sub {
  position: relative;
  top: -12px;
  left: -24px;
  letter-spacing: 2.4px;
  font-size: 10px;
  font-family: Montserrat-Bold;
}

.subscribe {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 560px;
  background-color: #FFC80A;
  background-image: url(../img/crown-image.png);
  background-position: center bottom;
  background-repeat: no-repeat;

  justify-content: center;
  align-items: center;
}

.subscribe-video-container {
  position: absolute;
  bottom: -5px;
  min-width: 100%;
  min-height: 100%;
}

.subscribe-video-container video {
  width: 100%;
}

.subscribe-wrap {
  position: relative;
  text-align: center;
}

.bubble {
  position: absolute;
  right: -250px;
  bottom: 90px;
  width: 200px;
  height: 137px;
  border: 3px dashed #FFFFFF;
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.bubble-tr-1 {
  position: relative;
  left: -3px;
  display: flex;
  overflow: hidden;
  padding-bottom: 3px;
  width: 206px;
  height: 5px;
}

.bubble-tr-2 {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 27px;
}

.tr-1 {
  width: 34px;
  height: 100%;
  border-bottom: 3px dashed #FFFFFF;
  border-left: 3px dashed #FFFFFF;
  border-bottom-left-radius: 8px;
}

.tr-4 {
  width: 35px;
  height: 100%;
}

.tr-3 {
  width: 138px;
  height: 100%;
  border-right: 3px dashed #FFFFFF;
  border-bottom: 3px dashed #FFFFFF;
  border-bottom-right-radius: 10px;
}

.tr-2 {
  position: absolute;
  bottom: 13px;
  left: 33px;
  width: 26px;
  height: 24px;
  border: 3px dashed #FFFFFF;
  transform: rotate(45deg);
}

.bubble::before {
  bottom: -25px;
  left: 40px;
  border-color: #FFF transparent transparent transparent;
}

.subscribe h2 {
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: 100;
  font-size: 86px;
  line-height: 96px;
}

.subscribe p {
  margin-top: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-size: 22px;
  line-height: 32px;
}

.bubble p {
  margin-top: 0;
  padding: 16px;
  color: #FFFFFF;
  text-align: left;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 26px;
}

.subscribe form {
  display: block;
  margin-top: 56px;
}

.subscribe input[type="email"] {
  padding: 0 32px;
  width: 240px;
  height: 48px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #FFFFFF;
}

.subscribe button {
  width: 103px;
  height: 48px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #F05638;
  color: #FFFFFF;
  letter-spacing: 2.8px;
  font-size: 14px;
  font-family: Montserrat-Bold;
}

.dashboard {
  height: 800px;
  background: #2C2C2C;
}

.dash-header {
  padding-top: 72px;
}

.dash-header h2 {
  color: #FFFFFF;
  font-weight: 100;
  font-size: 36px;
  line-height: 48px;
}

.dash-header p {
  width: 280px;
  color: #9FA3A7;
  line-height: 26px;
}

.calendar-tab {
  float: right;
}

.calendar-tab ul {
  list-style-type: none;
}

.c-tab {
  float: left;
  padding: 8px 16px;
  color: #9FA3A7;
  letter-spacing: 2.4px;
  font-size: 12px;
  font-family: Montserrat-Bold;
  cursor: pointer;
}

.active-tab {
  border: 2px solid #FFC80A;
  border-radius: 25px;
  color: #FFFFFF;
}

.c-tab:hover {
  color: #FFFFFF;
}

.dash-statist {
  display: flex;
  margin-top: 24px;
  height: 365px;

  justify-content: space-between;
  align-items: flex-end;
}

.d-item {
  position: relative;
  width: 18px;
  height: 80px;
  border-radius: 8px;
  background: #FFF;
}

.d-item::after {
  position: absolute;
  bottom: -23px;
  left: 7px;
  color: #535355;
  content: "";
  letter-spacing: 0;
  font-size: 10px;
  font-family: Montserrat-Bold;
}

.d-1 {
  height: 44px;
  background: #95791B;
}

.d-1::after {
  content: "1";
}

.d-item:nth-child(2) {
  height: 70px;
  background: #95771B;
}

.d-item:nth-child(2)::after {
  content: "2";
}

.d-item:nth-child(3) {
  height: 124px;
  background: #95751C;
}

.d-item:nth-child(3)::after {
  content: "3";
}

.d-item:nth-child(4) {
  height: 87px;
  background: #95741D;
}

.d-item:nth-child(4)::after {
  content: "4";
}

.d-item:nth-child(5) {
  height: 141px;
  background: #95721E;
}

.d-item:nth-child(5)::after {
  content: "5";
}

.d-item:nth-child(6) {
  height: 145px;
  background: #956F1F;
}

.d-item:nth-child(6)::after {
  content: "6";
}

.d-item:nth-child(7) {
  height: 127px;
  background: #956E1F;
}

.d-item:nth-child(7)::after {
  content: "7";
}

.d-item:nth-child(8) {
  height: 166px;
  background: #946C20;
}

.d-item:nth-child(8)::after {
  content: "8";
}

.d-item:nth-child(9) {
  height: 133px;
  background: #946A21;
}

.d-item:nth-child(9)::after {
  content: "9";
}

.d-item:nth-child(10) {
  height: 112px;
  background: #946822;
}

.d-item:nth-child(10)::after {
  content: "10";
}

.d-item:nth-child(11) {
  height: 114px;
  background: #946622;
}

.d-item:nth-child(11)::after {
  content: "11";
}

.d-item:nth-child(12) {
  height: 127px;
  background: #946424;
}

.d-item:nth-child(12)::after {
  content: "12";
}

.d-item:nth-child(13) {
  height: 97px;
  background: #946324;
}

.d-item:nth-child(13)::after {
  content: "13";
}

.d-item:nth-child(14) {
  height: 127px;
  background: #946125;
}

.d-item:nth-child(14)::after {
  content: "14";
}

.d-15 {
  height: 124px;
  background: #945F26;
}

.d-15::after {
  content: "15";
}

.d-item:nth-child(16) {
  height: 157px;
  background: #945D27;
}

.d-item:nth-child(16)::after {
  content: "16";
}

.d-item:nth-child(17) {
  height: 199px;
  background: #955E27;
}

.d-item:nth-child(17)::after {
  content: "17";
}

.d-item:nth-child(18) {
  height: 177px;
  background: #935928;
}

.d-item:nth-child(18)::after {
  content: "18";
}

.d-item:nth-child(19) {
  height: 188px;
  background: #935829;
}

.d-item:nth-child(19)::after {
  content: "19";
}

.d-item:nth-child(20) {
  height: 198px;
  background: #93562A;
}

.d-item:nth-child(20)::after {
  content: "20";
}

.d-item:nth-child(21) {
  height: 227px;
  background: #93542B;
}

.d-item:nth-child(21)::after {
  content: "21";
}

.d-item:nth-child(22) {
  height: 220px;
  background: #93522C;
}

.d-item:nth-child(22)::after {
  content: "22";
}

.d-item:nth-child(23) {
  height: 230px;
  background: #92502C;
}

.d-item:nth-child(23)::after {
  content: "23";
}

.d-item:nth-child(24) {
  height: 264px;
  background: #924E2D;
}

.d-item:nth-child(24)::after {
  content: "24";
}

.d-item:nth-child(25) {
  height: 242px;
  background: #924D2E;
}

.d-item:nth-child(25)::after {
  content: "25";
}

.d-item:nth-child(26) {
  height: 248px;
  background: #924B2F;
}

.d-item:nth-child(26)::after {
  content: "26";
}

.d-item:nth-child(27) {
  height: 275px;
  background: #92492F;
}

.d-item:nth-child(27)::after {
  content: "27";
}

.d-item:nth-child(28) {
  height: 297px;
  background: #924731;
}

.d-item:nth-child(28)::after {
  content: "28";
}

.d-item:nth-child(29) {
  height: 326px;
  background: #924531;
}

.d-item:nth-child(29)::after {
  content: "29";
}

.d-item:nth-child(30) {
  height: 365px;
  background: #924332;
}

.d-item:nth-child(30)::after {
  content: "30";
}

.d-item:hover {
  background-color: #FB8F22;
}

.d-item:focus {
  background-color: #FB8F22;
}


.d-item:hover:after {
  color: #FFFFFF;
}

.d-item-active {
  position: relative;
  background-color: #FB8F22;
}

.d-item:hover:before {
  position: absolute;
  top: -70px;
  left: -52px;
  z-index: 1;
  width: 120px;
  height: 50px;
  border-radius: 8px;
  background: #2C2C2C;
  box-shadow: 0 16px 64px -8px #000;
  color: #F88A31;
  content: "1024";
  text-align: center;
  letter-spacing: 0;
  font-size: 36px;
  font-family: Arvo-Bold;
  line-height: 48px;
}

.dashboard-footer {
  display: flex;
  margin-top: 104px;
  color: #9FA3A7;
  letter-spacing: 2.4px;
  font-size: 12px;
  /* MAX VIEWS: */
  font-family: Montserrat-Bold;

  justify-content: space-between;
  align-items: center;
}

.dashboard-footer span {
  color: #FFFFFF;
  letter-spacing: 0;
  font-size: 36px;
  font-family: Arvo;
  line-height: 48px;
}

.download {
  display: flex;

  align-items: center;
}

.download-img {
  float: left;
  width: 34px;
  height: 34px;
  border-radius: 60px;
  background-color: #FFC80A;
  background-image: url(../img/download-img.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.download a {
  display: block;
  float: right;
  padding-left: 16px;
  color: #FFFFFF;
  text-decoration: underline;
  letter-spacing: 0;
  font-weight: 100;
  font-size: 14px;
  font-family: Roboto;
  line-height: 1.5;
}

.download a:hover {
  color: #FFC80A;
}

.poduct-card {
  height: 720px;
  background-color: #F8F8F8;
}

.mark-product {
  position: static;
  width: 64px;
  background-color: #8F75BE;
}

.poduct-card h2 {
  margin-top: 8px;
}

.poduct-card p {
  display: inline-block;
  margin-top: 16px;
  color: #9FA3A7;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  font-family: Montserrat;
  line-height: 26px;
}

.product-rate {
  margin-top: 24px;
  list-style: none;
}

.product-rate li {
  display: inline-block;
  float: left;
  padding-left: 8px;
}

.product-rate li:first-child {
  padding-left: 0;
}

.poruct-wrap {
  display: flex;
  padding-top: 56px;
}

.product-image {
  width: 648px;
  height: 573px;
  background-image: url(../img/product.png);
  background-position: center;
  background-repeat: no-repeat;
}

.product-info {
  padding-top: 32px;
  padding-left: 32px;
  width: 500px;
}

.product-info b {
  color: #9FA3A7;
  letter-spacing: 2.4px;
  font-weight: bold;
  font-style: normal;
  font-size: 10px;
  font-family: Montserrat;
  line-height: normal;
}

.poduct-quantity {
  margin-top: 24px;
}

.plus-minus {
  display: inline-flex;
  margin-left: 24px;
  padding: 8px 8px;
  width: 88px;
  border: 2px solid #EEEEEE;
  border-radius: 25px;
  color: #000000;
  text-align: center;
  font-size: 20px;

  justify-content: space-around;
  align-items: center;
}

.plus,
.minus {
  color: #9FA3A7;
  font-weight: bold;
  font-style: normal;
  font-size: 22px;
  font-family: Montserrat;
  line-height: normal;
  cursor: pointer;
}

.plus:hover,
.minus:hover {
  color: #000000;
}

.product-color {
  display: flex;
  margin-top: 32px;
  height: 32px;

  align-items: center;
}


.color-change {
  display: inline-flex;
  margin-left: 32px;
  list-style: none;

  align-items: center;
}

.color-change li {
  float: left;
  padding-left: 18px;
}

.color-change li:first-child {
  padding-left: 0;
}

.color-circle {
  width: 16px;
  height: 16px;
  border-radius: 24px;
  cursor: pointer;
}

.color-circle:hover {
  box-shadow: 0 0 0pt 4pt #D8D8D8;
}

.color-1 {
  background-color: #57B9BB;
}

.color-2 {
  background-color: #8F76BC;
}

.color-3 {
  background-color: #F65A41;
}

.color-4 {
  background-color: #292929;
}

.color-5 {
  width: 24px;
  height: 24px;
  border: 3px solid #F7F7F7;
  background-color: #8AE02B;
  box-shadow: 0 0 0pt 4pt #D8D8D8;
}

.poduct-price {
  position: relative;
  padding: 48px 0 16px 0;
  border-bottom: 1px solid #E8E9ED;
  color: #292929;
  text-align: right;
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  font-family: Montserrat;
  line-height: normal;
}

.product-footer {
  display: flex;
  margin-top: 32px;

  justify-content: space-between;
  align-items: center;
}

.product-shiping {
  display: inline-block;
  padding-left: 48px;
  width: 200px;
  height: 32px;
  background-image: url(../img/shipped.svg);
  background-position: center left;
  background-size: 40px;
  background-repeat: no-repeat;
  line-height: 32px;
}

.product-footer .btn {
  border: 2px solid #FFC80A;
}

.contacts {
  position: relative;
  display: flex;
  height: 800px;
}

.contact-block {
  padding-top: 128px;
  min-width: 50%;
  background: #FFF;
}

.contact-block .logo {
  color: #000000;
}

.contact-block h3 {
  padding-top: 64px;
  color: #9FA3A7;
  letter-spacing: 2.4px;
}

.contact-block b {
  display: inline-block;
  padding-top: 8px;
  width: 480px;
  color: #212121;
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  font-family: Arvo;
  line-height: 32px;
}

.contact-block p {
  padding-top: 32px;
  width: 321px;
  color: #9FA3A7;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  font-family: Arvo;
  line-height: 26px;
}

.networks {
  list-style: none;
}

.networks li {
  float: left;
  margin-top: 64px;
  margin-left: 32px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #CBCBCB;
  font-size: 0;
  cursor: pointer;
}

.networks li:hover {
  background-color: #58b5ef;
}

.facebook {
  background-image: url(../img/facebook.svg);
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat;
}

.twitter {
  background-image: url(../img/twitter.svg);
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat;
}

.linkedin {
  background-image: url(../img/linkedin.svg);
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat;
}


.networks li:first-child {
  margin-left: 0;
}

.map-wrap {
  position: absolute;
  top: -20px;
  right: 0;
  overflow: hidden;
  width: 600px;
  height: 840px;
  border-radius: 16px;
  box-shadow: 0 16px 128px -8px rgba(0, 0, 0, 0.2);
}

#map {
  width: 600px;
  height: 870px;
}

.testimonials {
  display: flex;
  height: 800px;
  background-color: #545462;

  flex-flow: column;
  align-items: center;
}

.review {
  position: relative;
  display: flex;
  margin-top: 120px;
  width: 843px;
  height: 274px;
  background-image: url(../img/quote.png);
  background-position: center center;
  background-repeat: no-repeat;
  color: #FFFFFF;
  text-align: center;

  align-items: center;
}

.review p {
  font-size: 36px;
  line-height: 46px;
}

.client-list {
  position: relative;
  margin-top: 24px;
  padding-bottom: 32px;
  border-bottom: 4px solid #3C3C44;
  list-style: none;
}

.client-list li {
  float: left;
  padding-left: 174px;
}

.client-list li:first-child {
  padding-left: 0;
}

.client-list img {
  cursor: pointer;
}

.line-active {
  position: absolute;
  bottom: -4px;
  left: calc(50% - 56px);
  width: 112px;
  height: 4px;
  background-color: #FFC80A;
}

.client-name {
  margin-top: 32px;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  font-family: Arvo;
  line-height: 32px;
}

.client-name h3 {
  color: #9FA3A7;
}

footer {
  height: 400px;
  background-color: #2C2C2C;
}

.footer-wrap {
  display: flex;
  padding-top: 64px;

  justify-content: space-between;
}

.footer-wrap ul {
  list-style: none;
}

.footer-wrap li {
  color: #6C6C6C;
  font-size: 14px;
  font-family: Roboto;
  line-height: 36px;
}

footer h3 {
  padding-bottom: 16px;
  color: #FFFFFF;
}

.footer-input-warp {
  position: relative;
  margin-top: 24px;
  width: 272px;
}

.footer-subscribe input {
  padding: 0 16px;
  width: 240px;
  height: 47px;
  border-radius: 24px;
  background-color: #353535;
  color: #FFFFFF;
}

.sub-btn {
  position: absolute;
  top: 4px;
  right: 6px;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: aliceblue;
  background-color: #FFC80A;
  background-image: url(../img/mail.svg);
  background-position: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.sub-btn:hover {
  background-color: #d9ab0a;
}

.copyright {
  margin-top: 48px;
  color: rgba(200, 200, 200, 0.5);
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  font-family: Roboto;
  line-height: 22px;
}
