* {
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

a {
  color: inherit;
}

input,
label,
select,
button,
textarea {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  vertical-align: middle;
  white-space: normal;
  font-size: 13px;
  font-family: Arial;
  line-height: 1;
}

.main-container {
  position: relative;
  margin: 0 auto;
  padding: 0 16px;
  width: 1200px;
}

header {
  overflow: hidden;
  height: 720px;
  transition: background 0.3s;

}

.header-bg-1 {
  background: #2C2C2C;
}

.header-bg-2 {
  background: #9076C1;
}

.header-bg-3 {
  background: #FC544E;
}

.main-header {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 24px 0;

  justify-content: space-between;
  align-items: center;
}

.main-header button {
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.main-header button:hover {
  cursor: pointer;
}

.menu {
  background-image: url(../img/menu-icon.svg);
  transition: background 0.2s;
}

.menu:hover {
  background-image: url(../img/menu-icon-hover.svg);
}



.logo {
  color: #FFFFFF;
  letter-spacing: 0;
  font-size: 29px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.logo span {
  color: #FFC80A;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-style: italic;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
}

/*
.search:hover {
    background: #FFC80A;
}
*/

.search-input {
  position: absolute;
  right: 33px;
  overflow: hidden;
  width: 0px;
  height: 32px;
  background: rgba(255, 255, 255, 0.1);
  transition: width 0.5s;
  color: #FFC80A;
}


.search-input-open {
  width: 160px;
  padding-left: 8px;
}

.search input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}


.search button {
  width: 32px;
  height: 32px;
}

.search-button {
  background-image: url(../img/search-icon.svg);
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat;
  transition: background 0.2s;
}

.search-button:hover {
  background-image: url(../img/search-icon-hover.svg);
}

.search-button-active {
  background-image: url(../img/search-icon-hover.svg);
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat;
  transition: background 0.2s;
  background-color: #FFC80A;
}

.main-content {
  display: flex;
  margin-top: 124px;
  text-align: center;

  align-items: center;
  justify-content: space-between;
}

.login {
  display: inline-block;
  overflow: hidden;
  width: 16px;
  text-align: center;
  line-height: 16px;
}

.login-icon {
  margin: 0 auto;
  padding-bottom: 16px;
  width: 13px;
  height: 15px;
  background-image: url(../img/login-icon.svg);
  background-repeat: no-repeat;
  transition: background 0.2s;
}

.login:hover {
  cursor: pointer;
}

.login:hover .login-icon {
  background-image: url(../img/login-icon-hover.svg);
}

.login:hover b {
  color: #FFF;
}

.login b {
  display: inline-block;
  color: rgba(255, 255, 255, 0.2);
  white-space: nowrap;
  letter-spacing: 2.4px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  -webkit-transform: translate(0, 100%) rotate(-90deg);
  -moz-transform: translate(0, 100%) rotate(-90deg);
  -ms-transform: translate(0, 100%) rotate(-90deg);
  -o-transform: translate(0, 100%) rotate(-90deg);
  transform: translate(0, 100%) rotate(-90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}

.login b:before {
  float: left;
  margin-top: 100%;
  content: "";
}

.main-title {
  width: 856px;
}

.main-title h1 {
  margin-top: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-size: 100px;
  font-family: 'Arvo', serif;
  line-height: 112px;
}

.main-title h3 {
  color: #FFFFFF;
  letter-spacing: 2.4px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.slider-header ul {
  list-style-type: none;
}

.slider-header li {
  margin-top: 10px;
}

.slider-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  transition: background 0.2s;
}

.slider-circle:hover {
  width: 12px;
  height: 12px;
  background: #FFF;
  cursor: pointer;
}


.slider-circle-active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #FFC80A;
}

.gamepad {
  position: relative;
  bottom: 96px;
  margin: 0 auto;
  width: 702px;
  height: 566px;
  background-image: url(../img/Gamepad.png);
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  display: none;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.95);

  justify-content: center;
  align-items: center;
}

.popup-show {
  display: flex;
}

.login-form {
  width: 660px;
  height: 495px;
  background-image: url(../img/login-bg.png);
  background-position: center;
  text-align: center;
}

.login-form h2 {
  margin: 0 auto;
  margin-top: 56px;
  color: #212121;
  letter-spacing: 0;
  font-size: 24px;
  font-family: 'Arvo', serif;
  line-height: 32px;
}

.login b:before {
  float: left;
  margin-top: 100%;
  content: "";
}


.sign-in {
  float: left;
  width: 420px;
  height: 495px;
  background: #FFFFFF;
}

.sign-in form {
  display: flex;
  margin-top: 56px;

  flex-flow: column;
  align-items: center;
}

.sign-in input[type="text"],
.sign-in input[type="password"],
.login-form button {
  padding: 12px 16px;
  width: 208px;
  border: 1px solid #9FA3A7;
  border-radius: 25px;
  background: #FFFFFF;
}

.sign-in input:nth-child(2) {
  margin-top: 24px;
}

.sign-in input[type="text"]:focus,
.sign-in input[type="password"]:focus {
  border: 1px solid #0EBAC5;
}

.login-form button {
  margin-top: 32px;
  width: 240px;
  height: 48px;
  border: none;
  background-color: #FFC80A;
  color: #212121;
  letter-spacing: 2.4px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.forgot {
  margin-top: 8px;
  width: 204px;
  text-align: right;
}

.sign-in a {
  color: #212121;
  text-decoration: none;
  letter-spacing: 0;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  line-height: 18px;
}

.sign-in a:hover {
  color: #FFC80A;
}

.sign-in button:hover {
  color: #FFFFFF;
  cursor: pointer;
}

.login-checkbox {
  position: relative;
  margin-top: 24px;
  padding: 0 16px;
  width: 204px;
  color: #212121;
  text-align: right;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.login-checkbox:hover {
  color: #FFC80A;
}

.login-checkbox input[type="checkbox"] {
  display: none;
}

.login-checkbox input[type="checkbox"] + .ceckbox-indicator {
  position: absolute;
  top: -5px;
  right: 110px;
  width: 16px;
  height: 16px;
  border: 2px solid #9FA3A7;
  border-radius: 6px;
}

.login-checkbox input[type="checkbox"]:checked + .ceckbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .ceckbox-indicator::after {
  position: absolute;
  top: 7px;
  left: 1px;
  width: 14px;
  height: 2px;
  background-color: #0EBAC5;
  content: "";
}

.login-checkbox input[type="checkbox"]:checked + .ceckbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .ceckbox-indicator::after {
  transform: rotate(-45deg);
}

.sign-up {
  float: right;
  width: 240px;
}

.sign-up h2 {
  color: #FFC80A;
}

.sign-up p {
  margin: 16px auto;
  width: 128px;
  color: #FFFFFF;
  font-size: 12px;
  font-family: Roboto-Light;
  line-height: 1.5;
}

.sign-up button {
  margin-top: 186px;
  width: 128px;
  background: #FFFFFF;
}

.sign-up button:hover {
  color: #FFC80A;
  cursor: pointer;
}

.close-modal {
  height: 495px;
  color: #FFF;
}

.close-modal button {
  display: inline-block;
  margin-left: 16px;
  color: rgba(255, 255, 255, 0.2);
  white-space: nowrap;
  letter-spacing: 2.4px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  cursor: pointer;
  -webkit-transform: translate(0, 100%) rotate(-90deg);
  -moz-transform: translate(0, 100%) rotate(-90deg);
  -ms-transform: translate(0, 100%) rotate(-90deg);
  -o-transform: translate(0, 100%) rotate(-90deg);
  transform: translate(0, 100%) rotate(-90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}

.close-modal button::before {
  float: left;
  margin-top: 100%;
  content: "";
}

.close-modal button:hover {
  color: #FFF;
}

@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Playfair+Display:400,400i,700,700i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
